[submodule "sources/bitbake"]
	path = sources/bitbake
	url = git://github.com/openembedded/bitbake.git
	branch = master
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://github.com/openembedded/openembedded-core.git
	branch = master
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://github.com/openembedded/meta-openembedded.git
	branch = master
[submodule "sources/meta-bec"]
	path = sources/meta-bec
	url = git://github.com/cbrake/meta-bec.git
	branch = master
[submodule "sources/meta-ti"]
	path = sources/meta-ti
	url = git://git.yoctoproject.org/meta-ti
	branch = master
[submodule "sources/meta-browser"]
	path = sources/meta-browser
	url = git://github.com/OSSystems/meta-browser.git
	branch = master
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = master
[submodule "sources/meta-qt4"]
	path = sources/meta-qt4
	url = git://git.yoctoproject.org/meta-qt4
[submodule "sources/meta-gumstix"]
	path = sources/meta-gumstix
	url = git://github.com/gumstix/meta-gumstix
[submodule "sources/meta-gumstix-extras"]
	path = sources/meta-gumstix-extras
	url = git://github.com/gumstix/meta-gumstix-extras
